@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f1f1f1;
  color: #0f141e;

  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;

  /* font: normal 16px 'Roboto', sans-serif; */
}

#avatar {
  width: 145px;
  border-radius: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

#info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  text-decoration: none;
  /* text-transform: uppercase; */
}

/* Box Model */

.container {
  max-width: 750px;
  margin: auto;
}

/* .social {
  background: rgba(45, 83, 126, 0.952);

  /* padding: 10px; */
/* padding: 15px 20px 25px 30px; */

/* padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px; */
/* 
  padding: 5px 15px;
  margin: 15px;

  border: 5px solid darkslategray;
  border-bottom-style: dotted;
  border-top-width: 15px;
  border-right-color: blue; */
/* } */
/* 
.box-model > div {
  float: left;
  background: black;
  height: 200px;
  border: 4px solid red;
  width: 25%;

  box-sizing: border-box; */
/* } */
